body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #000080;
}

header {
    background-color: #176fc7;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

main {
    min-height: 70vh;
}

footer {
    background-color: #176fc7;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
